*{
    margin: 0;
}
body{
    font-size: 10px;
    background: url('../img/crossfit.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Anton', sans-serif;
}
h2{
    text-align: center;
    font-size: 3em;
    letter-spacing: 2px;
}
nav { 
    display: flex;
    z-index: 2;
   & .logo {
       font-size: 5em;
       background: transparent;
       position: fixed;
       top:5px;
       left:5px;
       padding:0 10px;
       transition: all .2s linear;
       text-shadow: 0 0 30px rgba(72, 221, 226, 0.5);
       &:hover {
           cursor: pointer;
           transform: scale(1.1)
       }
       & span {
           font-size:.5em;
       } 
   }
    & .navigation {
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        height: 100vh;
        width: 100%;
        background: rgba(72, 221, 226, 0.9) ;
        & ul {
            list-style-type:none;
            -webkit-padding-start: 0;
            & li {
                width: 79vw;
                padding: 20px;
                text-align: center;
                font-size: 1.8em;
                margin: 40px auto;
                cursor: pointer;
                &:hover {
                    background: #fff;
                }
            }
        }

    }
}
.toggleDisplay{
    display:block !important;
}
#home {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, white, rgba(72, 221, 226, 0.5));
    background: url('../img/crossfit.jpg');
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    & h1 {
        text-align: center;
        font-size: 5em;
        margin-top: 20px;
        color: rgba(72, 221, 226, 0.9);
    }
    & .motto {
        background:linear-gradient(to bottom,transparent, rgba(72, 221, 226, 0.5),transparent);
        text-align: center;
        font-size: 2em;
        margin-top: 20vh;
        padding: 10%;

    }
    & img {
        width: 80vw;
        margin: auto;
    }
}
#offer {
    padding: 20px 0;
    width: 100%;
    background: url('../img/crossfit.jpg');
    background-size: cover;
    background-attachment: fixed; //linear-gradient(to bottom, rgba(72, 221, 226, 0.5),white);
    display: grid;
    grid-auto-columns: 1;
    & div {
        width: 300px;
        height: 300px;
        margin: 20px auto;
        background: #fff;
        font-size: 2em;
        text-align: center;
        letter-spacing: 4px;
        transition: all .3s linear;
        &:hover {
            transform: translateY(-20px);
            box-shadow:0 30px 10px 10px rgba(72, 221, 226, 0.5);
        }
        & img {
            height: inherit;
            width: inherit;
            
        }
    }

}
#price {
    min-height: 600px;
    background: linear-gradient(to bottom,transparent, rgba(72, 221, 226,1), white);
    display: flex;
    flex-direction: column;
    padding: 20px;
    
    & article {
        margin: auto;
        text-align: center;
        font-size: 1.5em;
        background: #fff;
        padding: 10px;
    }
    & table {
        background: #fff;
        font-size: 2em;
        text-align: center;
        padding: 10px;
        margin: auto;
        width: 80%;
        
    }
}
#contact {
    background: #fff;
    
    & h2 {
        font-size: 6em;
    }
    & .container {
        display: flex;
        flex-direction: column;
        margin: auto;
        & .phone {
            width: 200px;
            height: 100px;
            color: #fff;
            background: #000;
            text-align: center;
            font-size: 2em;
            padding: 10px;
            margin: 20px auto;
        }
        & .email {
            width: 200px;
            height: 100px;
            color: #fff;
            background: #000;
            text-align: center;
            font-size: 2em;
            padding: 10px;
            margin:20px auto;
        }
    }
    & .location {
        width: 300px;
        margin: auto;
    }
    & .location img {
        width: 300px;
        height: auto;
        padding-bottom: 50px;
    }
}






@media (min-width:800px){
    #home {
        & h1 {
            font-size: 8em;
        }
    }
    #offer {
        grid-template-columns: 1fr 1fr;
    }
    #price {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
    }
    #contact {
        & .container {
        flex-direction: row;
            & .phone {
            width: 300px;
            }
            & .email {
                width: 300px;
            }
        }
        & .location {
            margin: auto;
            width: 700px;
            & img {
            width: 700px;
            height: auto;          
            }
        }
    }
}
@media (min-width:1100px){
    #offer {
        grid-template-columns: 1fr 1fr 1fr;
    }
}